/* Position the logout button in the top-right corner */
.logoutButton {
  position: relative;
  left: 94%;
  background-color: #ff4d4f;
  color: white;
  padding: 0px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 66px;
  height: 35px;
}

.logoutButton:hover {
  background-color: #e04344;
}
